.history
.vscode
checkpoints/*
datasets/*
evaluations/*
experiments/*
__pycache__
demo.py
utils/evaluation_demo.py
jittor/*
materials
evaluations_jittor/*
tmnetInJittor_d4/*
data/adobe240fps_folder_train.txt
data/adobe240fps_folder_valid.txt
data/adobe240fps_folder_test.txt